<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/d8a0cf358f.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title id="tituloP">Inicio</title>
</head>

  <body>
    <header class="header-section">
      <div class="header-content">
        <div class="title">
          <a href="/">
            <p id="titulo">Infraestructuras computacionales para el procesamiento de datos masivos</p>
          </a>
        </div>
        <div class="logo">
          <a target="_blank" href="https://www.uned.es/universidad/facultades/informatica.html">
            <img src="/img/logo_informatica.gif" alt="Logo ETSI Informatica UNED">
          </a>
        </div>
      </div>

      <div class="menu-section">
        <nav class="navbar">


          <ul class="nav_menu">


            <li><a href="/">Inicio</a></li>

            <li class="dropdown">
              <a href="/index.html"> Contenido de la asignatura <i class="fa-solid fa-caret-down" style="padding-left: 5px; color: #ffffff;"></i></a>
              <ul class="submenu">
                <li><a href="/modulo1/index.html">Módulo 1: Ecosistema de procesamiento paralelo para datos masivos: Apache Hadoop</a></li>
                <li><a href="/modulo2/modulo2.html">Módulo 2:Procesamiento paralelo basado en memoria: Apache Spark</a></li>
                <li><a href="/modulo3/modulo3.html">Módulo 3: Gestión de datos en tiempo Real</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="/modulo1/index.html"> Modulo 1 <i class="fa-solid fa-caret-down" style="padding-left: 5px; color: #ffffff;"></i></a>
              <ul class="submenu">
                <li><a href="/modulo1/index.html">Preparación del Entorno</a></li>
                <li><a href="/modulo1/modulo1/index.html">Tema 1: Introducción a BigData</a></li>
                <li><a href="/modulo1/modulo2/index.html">Tema 2: El núcleo de Hadoop</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="/modulo2/modulo2.html"> Modulo 2 <i class="fa-solid fa-caret-down" style="padding-left: 5px; color: #ffffff;"></i></a>
              <ul class="submenu">
                <li><a href="/modulo2/Tema1/index.html">Tema1: Introducción e instalación de Apache Spark</a></li>
                <li><a href="/modulo2/Tema2/index.html">Tema2: Programación de aplicaciones en Spark</a></li>
                <li><a href="/modulo2/Tema3/index.html">Tema 3: Librerías/Componentes de Spark</a></li>
                <li><a href="/modulo2/Tema4/index.html">Tema 4: Configuración, Monitorización y optimización de Spark</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="/modulo3/modulo3.html"> Modulo 3 <i class="fa-solid fa-caret-down" style="padding-left: 5px; color: #ffffff;"></i></a>
              <ul class="submenu">
                <li><a href="/modulo3/Tema1/index.html">Tema1: Introducción a las arquitecturas de procesamiento de streams: Lamba y Kappa</a></li>
                <li><a href="/modulo3/Tema2/index.html">Tema2:Componentes tecnológicos de adquisición y transmisión/distribución de eventos:Kafka</a></li>
                <li><a href="/modulo3/Tema3/index.html">Tema 3: Procesamiento de Stream: Spark Streaming</a></li>
              </ul>
            </li>

          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
