<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/d8a0cf358f.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title id="tituloP">Inicio</title>
</head>

  <body>
    <header class="header-section">
      <div class="header-content">
        <div class="title">
          <a href="/">
            <p id="titulo">Infraestructuras computacionales para el procesamiento de datos masivos</p>
          </a>
        </div>
        <div class="logo">
          <a target="_blank" href="https://www.uned.es/universidad/facultades/informatica.html">
            <img src="/img/logo_informatica.gif" alt="Logo ETSI Informatica UNED">
          </a>
        </div>
      </div>

      <div id="menuprincipal"></div>
    </header>
  </body>
</html>
